<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>

<style>
  h1,h2,h3,h4,h5,h6 {
      font-weight: 600;
      line-height: 1.4;
  }

  h4 {
      border-bottom: 1px solid black;
      font-weight: 800;
  }

  /* Used for section headings in articles, a styled version of an h2 */
  h5 {
      border-bottom: 1px solid black;
      font-size: 24px;
      font-weight: bold;
  }

  figcaption p {
      font-weight: bold;
  }

  /* Fix h4s in the categories table */
  .panel-title {
      border-bottom: none;
      font-weight: 600
  }

  .navbar-custom .navbar-brand, .navbar-custom .nav li a {
      font-weight: 400;
      color: #404040;
  }

  .blog-post {
      font-weight: 100;
      line-height: 2;
  }

  .post-preview .post-entry {
      font-family: merriweather,"pt serif",Georgia,times new roman,serif;
  }

  /* Don't show the alert boxes used for summarising a series in the preview */
  .post-entry .alert {
      display: none;
  }

  .post-preview p a {
      color: #008AFF;
  }

  body {
      font-family: merriweather,"pt serif",Georgia,times new roman,serif;
      font-size: 16px;
      color: #333;
  }

  p {
      line-height: 1.7;
      font-weight: 100;
  }

  @media only screen and (min-width: 768px) {
      .navbar-custom {
          padding: 10px 0;
      }

      .intro-header {
          margin-top: 110px;
      }
  }

  @media (min-width: 1200px) {
      .col-lg-8 {
          width: 80%
      }
      .col-lg-offset-2 {
          margin-left: 12%;
      }
  }

  a:hover {
      background-color: yellow;
  }

  span.center-table {
      align: center;
  }

</style>
